.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
    margin:0;
    padding:0;
}

/* Styles for desktop */
body {
    display: grid;
    gap: 20px;
    padding: 50px;
}



/* Styles for mobile */
@media (max-width: 767px) {
    body {
        display: grid;
        flex-direction: column;
        padding: 20px;
    }
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.song-list {
    list-style: none;
    text-align: center;
}

.collection-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    width: 100%;
    max-width: 900px;
    padding-bottom: 10px;
    margin-bottom: 10px; /* add margin-bottom to create space */
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


form {
    max-width: 400px;
    margin: 0 auto;
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

form input {
    margin-left: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.add-song-btn {
    display: flex;
    max-width:100px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
}

.add-song-btn:hover {
    background-color: lightgray;
}

.add-song-btn:active {
    background-color: #999;
    border: 1px solid #999;
}


.go-back-btn {
    margin-top: 10px;
    max-width: 100px;
    border-radius: 10px;
    cursor: pointer;
}

.go-back-btn:active {
    background-color: #999;
    border: 1px solid #999;
}

.delete-btn {
    float: right;
    margin-top: 5px;
    cursor: pointer;
}

.delete-btn:active {
    background-color: #999;
    border: 1px solid #999;
}

.delete-btn:hover {
    background-color: lightgray;
}


.lyric-list {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    list-style: none;
}

.lyric-item {
    word-break: break-all;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.add-lyric {
    cursor: pointer;
}


.like-btn {
    padding-left: 12px;
    cursor: pointer;
}

.like-count {
    margin: auto;
}